{% extends 'base.html'%}


{% block title  %}
About
{% endblock%}

{% block content  %}
<h1 class= text-center><i>About us</i></h1>
<h5 >
     Hanu's Hospital was established in the heart of the city of Ernakulam in 1971 by a group of highly experienced doctors. It had many unique features, such as the first 24hr Casualty. It was one of the leading multispeciality hospital and had in its team many doctors renowned in the fields of surgery, Ortho, Cardio Thorax, Obstetrics and Gynecology, Paediatrics and Medicine. It offered a wide range of special services and delivered high quality healthcare with personal touch. With the retirement and ill health and the shifting of practice of many of the prominent doctors, the focus and prominence of City Hospital went into a period of decline.
    In July 2011, Mr.Basheeruddin, a technocrat, Managing Director of Furnace Fabrica, a Mumbai based company engaged in supply and erection of various kinds of plants and equipment internationally, took over the management by acquiring majority shares, along with some of his well wishers. 
    
</h5>
{% endblock%}